@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <div id="content"></div>
    <script src="@Url.Content("~/Scripts/Libs/ReactJs/react.js")"></script>
    <script src="@Url.Content("~/Scripts/Libs/ReactJs/react-dom.js")"></script>
    <script src="@Url.Content("~/Scripts/Libs/ReactJs/remarkable.min.js")"></script>

    @Scripts.Render("~/bundles/CardList")
    @Scripts.Render("~/bundles/Home")
</body>
</html>